<div class="text-left mt-3">

    <%= simple_form_for [hospede, hospede.build_endereco]  do |f| %>
        
        <%= f.input :rua %>
        <%= f.input :numero %>
        <%= f.input :complemento %>
        <%= f.input :bairro %>
        <%= f.input :cidade %>
        <%= f.input :estado %>
        <%= f.input :pais %>
        <%= f.input :cep %>
        <%= f.submit 'Cadastrar novo Endereço', input_html: {class: 'btn btn-primary'}%>
    <% end %>
   
</div>