<%= turbo_frame_tag hospede do%>
    <tr>
      <td><%= link_to hospede.nome, hospede_path(hospede), data: {turbo_frame: "_top"} %></td>
      <td><%= hospede.email%></td>
      <td><%= hospede.celular%></td>
      <td scope="col">
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger"><%= link_to "Deletar", hospede_path(hospede), data: {
                    turbo_method: :delete,  turbo_confirm: "Você tem certeza?"
                } %></button>
        </td>
    </tr>
<%end%>